<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RoboSync Desktop</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div id="app">
        <nav>
            <div class="topmenu">
                <div class="nav-tile logo"></div>
                <div class="nav-tile" title="Kontroluj">
                    <span class="material-symbols-outlined">
                        precision_manufacturing
                    </span>
                </div>
                <div class="nav-tile" title="Zaprogramuj">
                    <span class="material-symbols-outlined">
                        data_object
                    </span>
                </div>
                <div class="nav-tile" title="Konsola">
                    <span class="material-symbols-outlined">
                        terminal
                    </span>
                </div>
            </div>
            <div class="bottommenu">
                <div class="nav-tile" title="Konsola">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </div>
                <div class="nav-tile" title="Konsola">
                    <span class="material-symbols-outlined">
                        settings
                    </span>
                </div>
            </div>
        </nav>
        <main class="dottedBackground">
            
            <div id="connectView" class="connectView dottedBackground">
                <div class="connectView__form">
                    <h1>Connect to OpenSCARA</h1>
                    Choose COM port: <select id="comPortSelect">
                        <option>COM1</option>
                        <option>COM2</option>
                        <option>COM3</option>
                    </select>
                    <button id="connectButton">Connect</button>
                </div>
            </div>

            <div id="controlView" class="controlView">
                <!-- 3D View -->
                <div> <div id="3DView" class="controlView__3dView"></div> </div>
                <!-- - -->
                <!-- Properties -->
               <div class="controlView__controls">
                    <div class="controlView__controls_buttons">
                        <div class="controlView__controls_buttons">
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                            <button class="controlButton" id="ab">
                                <span class="material-symbols-outlined">
                                    X
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="controlView__info">
                        <div class="controlView__info__position">
                            <h2>Position</h2>
                            <p>X: <span id="positionX">0</span></p>
                            <p>Y: <span id="positionY">0</span></p>
                            <p>Z: <span id="positionZ">0</span></p>
                        </div>
                        <div class="controlView__info__speed">
                            <h2>Speed</h2>
                            <p>X: <span id="speedX">0</span></p>
                            <p>Y: <span id="speedY">0</span></p>
                            <p>Z: <span id="speedZ">0</span></p>
                        </div>
                    </div>
               </div>
               <!-- -->
            </div>

        </main>
    </div>
    <!-- 3D View -->
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.162.0/examples/jsm/"
          }
        }
    </script>
    <script type="module"src="../scripts/3DView.js"></script>
    <!---->
    
    <script src="../scripts/webMain.js"></script>
</body>
</html>