<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RoboSync Desktop</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div id="app">
        <nav>
            <div class="nav-tile logo"></div>
            <div class="nav-tile"></div>
            <div class="nav-tile"></div>
        </nav>
        <main class="dottedBackground">
            <div id="connectView" class="connectView dottedBackground">
                <div class="connectView__form">
                    <h1>Connect to OpenSCARA</h1>
                    Choose COM port: <select id="comPortSelect">
                        <option>COM1</option>
                        <option>COM2</option>
                        <option>COM3</option>
                    </select>
                    <button id="connectButton">Connect</button>
                </div>
            </div>
        </main>
    </div>
    <script src="../scripts/webMain.js"></script>
</body>
</html>