:root {
    --background-color: #1a1a1a;
    --foreground-color: #161616;

    --scrollbar-color: #3d3d3d;
    --scrollbar-color-hover: #404040;

    --default-text-color: #d1d1d1;

    --transparent-background: rgba(0, 0, 0, 0.5);
}