@font-face { 
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: 
      url(../fonts/Inter/Inter-Regular.ttf) format("truetype");
}

@font-face { 
    font-family: "SpaceGrotesk";
    font-style: normal;
    font-weight: 400;
    src: 
      url(../fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf) format("truetype");
}