@import url('fonts.css');
@import url('colors.css');
@import url('symbols.css');

body, html {
    margin: 0; 
    padding: 0;
    font-family: 'SpaceGrotesk';
    color: var(--default-text-color);
}

#app {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 70px auto;
    background-color: var(--background-color);
}

nav {
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    background: url(../graphics/banner.webp) no-repeat center center;
    background-size: cover;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.logo:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.nav-tile {
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    user-select: none;
}

.dottedBackground {
    --dot-bg: black;
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
}

/* ----------------- */

.connectView {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.connectView__form {
    background-color: var(--foreground-color);
    padding: 20px;
}

#comPortSelect, #connectButton {
    width: auto;
    background-color: var(--background-color);
    color: var(--default-text-color);
    border: none;
    padding: 7px;
    cursor: pointer;
    margin: 0 5px;
    box-sizing: border-box;
}


.controlView {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

    background-color: var(--transparent-background);
}

.controlView__3dView {
    width: 100%;
    height: 100%;
}

.controlView__controls {
    width: 485px;
    display: grid;
    grid-template-rows: 150px auto 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.controlView__controls__topbuttons {
    display: flex;
    justify-content: space-between;
    
}

.controlView__controls__middle {
    display: grid;
    grid-template-columns: auto 200px;   
}

.controlView__controls__middle_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: start;
    gap: 20px 10px;
}

.controlView__controls__middle_right {
    display: flex;
    /*
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    */

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: start;
    gap: 20px 10px;
}

.controlView__controls__bottom {
    display: grid;
    grid-template-columns: auto 100px;   
}

.controlView__info {
    padding-top: 20px;
    box-sizing: border-box;
}

.controlView__info table {
    width: 485px;
    border: 1px solid var(--default-text-color);
}

.controlView__info table tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.controlView__info table tr td  {
    width: 50%;
}

.controlButton {
    background-color: var(--background-color);
    color: var(--default-text-color);
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    height: 80px;

    cursor: pointer;
    user-select: none;
    
    font-size: 1.5em;

    transition: all 0.3s;
}

.wide {
    width: 170px;
}

.controlButton:hover {
    border: solid 2px var(--default-text-color);
}